version: '3.9'
services:
  app:
    build: .
    environment:
      - PORT=${PORT}
    env_file:
      - .env
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - postgres
    volumes:
      - ./src:/usr/src/app/src
      - ./logs:/usr/src/app/src/logs
    container_name: app
    networks:
      - app_network
    restart: unless-stopped
    command: npm run start
  postgres:
    restart: always
    image: 'postgres:9.6.24-alpine3.15'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./db/postgres:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - ${PORT_DB}:${PORT_DB}
    container_name: postgres
    networks:
      - app_network
networks:
  app_network:
    driver: bridge
volumes:
  db:
  logs:
